.pagination-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.pagination-container ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 7px;
    margin: 0;
}

.pagination-container li {
    list-style: none;
    margin: 0 5px;
}

.pagination-container li.active {
    color: var(--primary);
}

.pagination-container .button {
    background-color: var(--primary);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container .inactive {
    background-color: gray;
    border-color: black;
}