.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid red;
}

.pagination-container li {
    list-style: none;
    margin: 0 5px;
}

.pagination-container li.active {
    color: var(--primary);
}

.pagination-container .button {
    background-color: var(--primary);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container .inactive {
    display: none;
}