.container {
    border-radius: 4px;
    width: 250px;
    height: 250px;
    position: relative;
    padding: 20px;
    background-color: var(--feature);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.container h2 {
    text-align: center;
}
.container button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.container span {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 580px) {
    .container {
        margin: auto;
        width: 90%;
    }
}