.container {
    border-radius: 4px;
    width: 250px;
    height: 250px;
    position: relative;
    padding: 20px;
    background-color: var(--feature);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.container h2 {
    text-align: center;
}
.container button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.container span {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.button {
    background: var(--feature);
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
}

@media screen and (max-width: 580px) {
    .container {
        margin: auto;
        width: 90%;
    }
}